.login{
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background: #eff2f5;
}

.login__logo{
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login__logo .icon{
    font-size: 150px;
    color: #2e81f4;
    margin: 8px;
    font-family: sans-serif;
}
.login__logo p{
    margin: 8px;
    font-size: 30px;
    color: #2e81f4;
    font-weight: 600;
    font-family: sans-serif;
}

.login button{
    padding: 7px 20px;
    background: #2e81f4;
    color: #eff2f5;
}

.login button:hover{
    background-color: #d1e4ff;
    color: #2e81f4;
}