.post{
    width: 50%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px #000000bf;
}

.post__top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post__image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post__image img{
    width: 100%;
    border-radius: 0 0 15px 15px;
    max-height: 500px;
    object-fit: cover;
    object-position: center center;
    margin: 0 auto;
}

.post__avatar{
    margin-right: 10px;
}


.post__topInfo h3{
    font-size: medium;
}

.post__topInfo p{
    font-size: small;
    color: grey;
}

.post__bottom{
    margin: 10px 0;
    padding: 15px 25px;
}



@media only screen and (max-width:1300px){
    .post{
        width: 70%;
    }
}
@media only screen and (max-width:1000px){
    .post{
        width: 80%;
    }

}
@media only screen and (max-width:800px){
    .post{
        width: 90%;
    }

}
@media only screen and (min-width:1400px){
    .post{
        width: 700px;
    }

}